/****Global Styles ****/
div {
  display: block;
}
h1 { 
  display: block;
  font-size: 3em;
  margin-top: 1.5em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
        
}
.fam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.famlov {
    background-color: thistle;
    color: black;
    font-size: 20
    
}
.family {
    background-image: url(family.jpg);
    background-size: cover
}
.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
    
}
.nav {
    background-color: blanchedalmond;
    font-weight: bold;
    font-size: 50;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lav {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.lavlet {
    background-color: khaki;
}
.lav {
    background-image: url(family.jpg);
    background-size: cover;
}